# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

# Environment & Local Configuration
.env
application-local.yml
application-dev.yml

# IDE / Editor Files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.swp
*.bak

# Logs
*.log
logs/

# OS Specific
.DS_Store
Thumbs.db
